/**
 * _socicon.scss
 * Styles applied to socicon.
 */

/**
 * Imports
 */
@import 'variables';

/**
 * Socicon fonts
 */
@font-face {
	font-family: 'Socicon';
	src:  url('../fonts/Socicon.eot');
	src:  url('../fonts/Socicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Socicon.woff2') format('woff2'),
		url('../fonts/Socicon.woff') format('woff'),
		url('../fonts/Socicon.ttf') format('truetype'),
		url('../fonts/Socicon.svg#Socicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 * Styling begins
 */
[data-icon]::before {
	font-family: 'Socicon' !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='socicon-']::before,
[class*='socicon-']::before {
	font-family: 'Socicon' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.socicon {
	position: relative;
	top: 3px;
	display: inline-block;
	font-family: 'Socicon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
}

.socicon-hackernews {
	color: $socicon-color-hackernews;
	background-color: $socicon-color-hackernews;

	&::before {
		content: $socicon-hackernews;
	}
}

.socicon-smashwords {
	color: $socicon-color-smashwords;
	background-color: $socicon-color-smashwords;

	&::before {
		content: $socicon-smashwords;
	}
}

.socicon-kobo {
	color: $socicon-color-kobo;
	background-color: $socicon-color-kobo;

	&::before {
		content: $socicon-kobo;
	}
}

.socicon-bookbub {
	color: $socicon-color-bookbub;
	background-color: $socicon-color-bookbub;

	&::before {
		content: $socicon-bookbub;
	}
}

.socicon-mailru {
	color: $socicon-color-mailru;
	background-color: $socicon-color-mailru;

	&::before {
		content: $socicon-mailru;
	}
}

.socicon-gitlab {
	color: $socicon-color-gitlab;
	background-color: $socicon-color-gitlab;

	&::before {
		content: $socicon-gitlab;
	}
}

.socicon-instructables {
	color: $socicon-color-instructables;
	background-color: $socicon-color-instructables;

	&::before {
		content: $socicon-instructables;
	}
}

.socicon-portfolio {
	color: $socicon-color-portfolio;
	background-color: $socicon-color-portfolio;

	&::before {
		content: $socicon-portfolio;
	}
}

.socicon-codered {
	color: $socicon-color-codered;
	background-color: $socicon-color-codered;

	&::before {
		content: $socicon-codered;
	}
}

.socicon-origin {
	color: $socicon-color-origin;
	background-color: $socicon-color-origin;

	&::before {
		content: $socicon-origin;
	}
}

.socicon-nextdoor {
	color: $socicon-color-nextdoor;
	background-color: $socicon-color-nextdoor;

	&::before {
		content: $socicon-nextdoor;
	}
}

.socicon-udemy {
	color: $socicon-color-udemy;
	background-color: $socicon-color-udemy;

	&::before {
		content: $socicon-udemy;
	}
}

.socicon-livemaster {
	color: $socicon-color-livemaster;
	background-color: $socicon-color-livemaster;

	&::before {
		content: $socicon-livemaster;
	}
}

.socicon-crunchbase {
	color: $socicon-color-crunchbase;
	background-color: $socicon-color-crunchbase;

	&::before {
		content: $socicon-crunchbase;
	}
}

.socicon-homefy {
	color: $socicon-color-homefy;
	background-color: $socicon-color-homefy;

	&::before {
		content: $socicon-homefy;
	}
}

.socicon-calendly {
	color: $socicon-color-calendly;
	background-color: $socicon-color-calendly;

	&::before {
		content: $socicon-calendly;
	}
}

.socicon-realtor {
	color: $socicon-color-realtor;
	background-color: $socicon-color-realtor;

	&::before {
		content: $socicon-realtor;
	}
}

.socicon-tidal {
	color: $socicon-color-tidal;
	background-color: $socicon-color-tidal;

	&::before {
		content: $socicon-tidal;
	}
}

.socicon-qobuz {
	color: $socicon-color-qobuz;
	background-color: $socicon-color-qobuz;

	&::before {
		content: $socicon-qobuz;
	}
}

.socicon-natgeo {
	color: $socicon-color-natgeo;
	background-color: $socicon-color-natgeo;

	&::before {
		content: $socicon-natgeo;
	}
}

.socicon-mastodon {
	color: $socicon-color-mastodon;
	background-color: $socicon-color-mastodon;

	&::before {
		content: $socicon-mastodon;
	}
}

.socicon-unsplash {
	color: $socicon-color-unsplash;
	background-color: $socicon-color-unsplash;

	&::before {
		content: $socicon-unsplash;
	}
}

.socicon-homeadvisor {
	color: $socicon-color-homeadvisor;
	background-color: $socicon-color-homeadvisor;

	&::before {
		content: $socicon-homeadvisor;
	}
}

.socicon-angieslist {
	color: $socicon-color-angieslist;
	background-color: $socicon-color-angieslist;

	&::before {
		content: $socicon-angieslist;
	}
}

.socicon-codepen {
	color: $socicon-color-codepen;
	background-color: $socicon-color-codepen;

	&::before {
		content: $socicon-codepen;
	}
}

.socicon-slack {
	color: $socicon-color-slack;
	background-color: $socicon-color-slack;

	&::before {
		content: $socicon-slack;
	}
}

.socicon-openaigym {
	color: $socicon-color-openaigym;
	background-color: $socicon-color-openaigym;

	&::before {
		content: $socicon-openaigym;
	}
}

.socicon-logmein {
	color: $socicon-color-logmein;
	background-color: $socicon-color-logmein;

	&::before {
		content: $socicon-logmein;
	}
}

.socicon-fiverr {
	color: $socicon-color-fiverr;
	background-color: $socicon-color-fiverr;

	&::before {
		content: $socicon-fiverr;
	}
}

.socicon-gotomeeting {
	color: $socicon-color-gotomeeting;
	background-color: $socicon-color-gotomeeting;

	&::before {
		content: $socicon-gotomeeting;
	}
}

.socicon-aliexpress {
	color: $socicon-color-aliexpress;
	background-color: $socicon-color-aliexpress;

	&::before {
		content: $socicon-aliexpress;
	}
}

.socicon-guru {
	color: $socicon-color-guru;
	background-color: $socicon-color-guru;

	&::before {
		content: $socicon-guru;
	}
}

.socicon-appstore {
	color: $socicon-color-appstore;
	background-color: $socicon-color-appstore;

	&::before {
		content: $socicon-appstore;
	}
}

.socicon-homes {
	color: $socicon-color-homes;
	background-color: $socicon-color-homes;

	&::before {
		content: $socicon-homes;
	}
}

.socicon-zoom {
	color: $socicon-color-zoom;
	background-color: $socicon-color-zoom;

	&::before {
		content: $socicon-zoom;
	}
}

.socicon-alibaba {
	color: $socicon-color-alibaba;
	background-color: $socicon-color-alibaba;

	&::before {
		content: $socicon-alibaba;
	}
}

.socicon-craigslist {
	color: $socicon-color-craigslist;
	background-color: $socicon-color-craigslist;

	&::before {
		content: $socicon-craigslist;
	}
}

.socicon-wix {
	color: $socicon-color-wix;
	background-color: $socicon-color-wix;

	&::before {
		content: $socicon-wix;
	}
}

.socicon-redfin {
	color: $socicon-color-redfin;
	background-color: $socicon-color-redfin;

	&::before {
		content: $socicon-redfin;
	}
}

.socicon-googlecalendar {
	color: $socicon-color-googlecalendar;
	background-color: $socicon-color-googlecalendar;

	&::before {
		content: $socicon-googlecalendar;
	}
}

.socicon-shopify {
	color: $socicon-color-shopify;
	background-color: $socicon-color-shopify;

	&::before {
		content: $socicon-shopify;
	}
}

.socicon-freelancer {
	color: $socicon-color-freelancer;
	background-color: $socicon-color-freelancer;

	&::before {
		content: $socicon-freelancer;
	}
}

.socicon-seedrs {
	color: $socicon-color-seedrs;
	background-color: $socicon-color-seedrs;

	&::before {
		content: $socicon-seedrs;
	}
}

.socicon-bing {
	color: $socicon-color-bing;
	background-color: $socicon-color-bing;

	&::before {
		content: $socicon-bing;
	}
}

.socicon-doodle {
	color: $socicon-color-doodle;
	background-color: $socicon-color-doodle;

	&::before {
		content: $socicon-doodle;
	}
}

.socicon-bonanza {
	color: $socicon-color-bonanza;
	background-color: $socicon-color-bonanza;

	&::before {
		content: $socicon-bonanza;
	}
}

.socicon-squarespace {
	color: $socicon-color-squarespace;
	background-color: $socicon-color-squarespace;

	&::before {
		content: $socicon-squarespace;
	}
}

.socicon-toptal {
	color: $socicon-color-toptal;
	background-color: $socicon-color-toptal;

	&::before {
		content: $socicon-toptal;
	}
}

.socicon-gust {
	color: $socicon-color-gust;
	background-color: $socicon-color-gust;

	&::before {
		content: $socicon-gust;
	}
}

.socicon-ask {
	color: $socicon-color-ask;
	background-color: $socicon-color-ask;

	&::before {
		content: $socicon-ask;
	}
}

.socicon-trulia {
	color: $socicon-color-trulia;
	background-color: $socicon-color-trulia;

	&::before {
		content: $socicon-trulia;
	}
}

.socicon-loomly {
	color: $socicon-color-loomly;
	background-color: $socicon-color-loomly;

	&::before {
		content: $socicon-loomly;
	}
}

.socicon-ghost {
	color: $socicon-color-ghost;
	background-color: $socicon-color-ghost;

	&::before {
		content: $socicon-ghost;
	}
}

.socicon-upwork {
	color: $socicon-color-upwork;
	background-color: $socicon-color-upwork;

	&::before {
		content: $socicon-upwork;
	}
}

.socicon-fundable {
	color: $socicon-color-fundable;
	background-color: $socicon-color-fundable;

	&::before {
		content: $socicon-fundable;
	}
}

.socicon-booking {
	color: $socicon-color-booking;
	background-color: $socicon-color-booking;

	&::before {
		content: $socicon-booking;
	}
}

.socicon-googlemaps {
	color: $socicon-color-googlemaps;
	background-color: $socicon-color-googlemaps;

	&::before {
		content: $socicon-googlemaps;
	}
}

.socicon-zillow {
	color: $socicon-color-zillow;
	background-color: $socicon-color-zillow;

	&::before {
		content: $socicon-zillow;
	}
}

.socicon-niconico {
	color: $socicon-color-niconico;
	background-color: $socicon-color-niconico;

	&::before {
		content: $socicon-niconico;
	}
}

.socicon-toneden {
	color: $socicon-color-toneden;
	background-color: $socicon-color-toneden;

	&::before {
		content: $socicon-toneden;
	}
}

.socicon-augment {
	color: $socicon-color-augment;
	background-color: $socicon-color-augment;

	&::before {
		content: $socicon-augment;
	}
}

.socicon-bitbucket {
	color: $socicon-color-bitbucket;
	background-color: $socicon-color-bitbucket;

	&::before {
		content: $socicon-bitbucket;
	}
}

.socicon-fyuse {
	color: $socicon-color-fyuse;
	background-color: $socicon-color-fyuse;

	&::before {
		content: $socicon-fyuse;
	}
}

.socicon-yt-gaming {
	color: $socicon-color-yt-gaming;
	background-color: $socicon-color-yt-gaming;

	&::before {
		content: $socicon-yt-gaming;
	}
}

.socicon-sketchfab {
	color: $socicon-color-sketchfab;
	background-color: $socicon-color-sketchfab;

	&::before {
		content: $socicon-sketchfab;
	}
}

.socicon-mobcrush {
	color: $socicon-color-mobcrush;
	background-color: $socicon-color-mobcrush;

	&::before {
		content: $socicon-mobcrush;
	}
}

.socicon-microsoft {
	color: $socicon-color-microsoft;
	background-color: $socicon-color-microsoft;

	&::before {
		content: $socicon-microsoft;
	}
}

.socicon-pandora {
	color: $socicon-color-pandora;
	background-color: $socicon-color-pandora;

	&::before {
		content: $socicon-pandora;
	}
}

.socicon-messenger {
	color: $socicon-color-messenger;
	background-color: $socicon-color-messenger;

	&::before {
		content: $socicon-messenger;
	}
}

.socicon-gamewisp {
	color: $socicon-color-gamewisp;
	background-color: $socicon-color-gamewisp;

	&::before {
		content: $socicon-gamewisp;
	}
}

.socicon-bloglovin {
	color: $socicon-color-bloglovin;
	background-color: $socicon-color-bloglovin;

	&::before {
		content: $socicon-bloglovin;
	}
}

.socicon-tunein {
	color: $socicon-color-tunein;
	background-color: $socicon-color-tunein;

	&::before {
		content: $socicon-tunein;
	}
}

.socicon-gamejolt {
	color: $socicon-color-gamejolt;
	background-color: $socicon-color-gamejolt;

	&::before {
		content: $socicon-gamejolt;
	}
}

.socicon-trello {
	color: $socicon-color-trello;
	background-color: $socicon-color-trello;

	&::before {
		content: $socicon-trello;
	}
}

.socicon-spreadshirt {
	color: $socicon-color-spreadshirt;
	background-color: $socicon-color-spreadshirt;

	&::before {
		content: $socicon-spreadshirt;
	}
}

.socicon-500px {
	color: $socicon-color-500px;
	background-color: $socicon-color-500px;

	&::before {
		content: $socicon-500px;
	}
}

.socicon-8tracks {
	color: $socicon-color-8tracks;
	background-color: $socicon-color-8tracks;

	&::before {
		content: $socicon-8tracks;
	}
}

.socicon-airbnb {
	color: $socicon-color-airbnb;
	background-color: $socicon-color-airbnb;

	&::before {
		content: $socicon-airbnb;
	}
}

.socicon-alliance {
	color: $socicon-color-alliance;
	background-color: $socicon-color-alliance;

	&::before {
		content: $socicon-alliance;
	}
}

.socicon-amazon {
	color: $socicon-color-amazon;
	background-color: $socicon-color-amazon;

	&::before {
		content: $socicon-amazon;
	}
}

.socicon-amplement {
	color: $socicon-color-amplement;
	background-color: $socicon-color-amplement;

	&::before {
		content: $socicon-amplement;
	}
}

.socicon-android {
	color: $socicon-color-android;
	background-color: $socicon-color-android;

	&::before {
		content: $socicon-android;
	}
}

.socicon-angellist {
	color: $socicon-color-angellist;
	background-color: $socicon-color-angellist;

	&::before {
		content: $socicon-angellist;
	}
}

.socicon-apple {
	color: $socicon-color-apple;
	background-color: $socicon-color-apple;

	&::before {
		content: $socicon-apple;
	}
}

.socicon-appnet {
	color: $socicon-color-appnet;
	background-color: $socicon-color-appnet;

	&::before {
		content: $socicon-appnet;
	}
}

.socicon-baidu {
	color: $socicon-color-baidu;
	background-color: $socicon-color-baidu;

	&::before {
		content: $socicon-baidu;
	}
}

.socicon-bandcamp {
	color: $socicon-color-bandcamp;
	background-color: $socicon-color-bandcamp;

	&::before {
		content: $socicon-bandcamp;
	}
}

.socicon-battlenet {
	color: $socicon-color-battlenet;
	background-color: $socicon-color-battlenet;

	&::before {
		content: $socicon-battlenet;
	}
}

.socicon-mixer {
	color: $socicon-color-mixer;
	background-color: $socicon-color-mixer;

	&::before {
		content: $socicon-mixer;
	}
}

.socicon-bebee {
	color: $socicon-color-bebee;
	background-color: $socicon-color-bebee;

	&::before {
		content: $socicon-bebee;
	}
}

.socicon-bebo {
	color: $socicon-color-bebo;
	background-color: $socicon-color-bebo;

	&::before {
		content: $socicon-bebo;
	}
}

.socicon-behance {
	color: $socicon-color-behance;
	background-color: $socicon-color-behance;

	&::before {
		content: $socicon-behance;
	}
}

.socicon-blizzard {
	color: $socicon-color-blizzard;
	background-color: $socicon-color-blizzard;

	&::before {
		content: $socicon-blizzard;
	}
}

.socicon-blogger {
	color: $socicon-color-blogger;
	background-color: $socicon-color-blogger;

	&::before {
		content: $socicon-blogger;
	}
}

.socicon-buffer {
	color: $socicon-color-buffer;
	background-color: $socicon-color-buffer;

	&::before {
		content: $socicon-buffer;
	}
}

.socicon-chrome {
	color: $socicon-color-chrome;
	background-color: $socicon-color-chrome;

	&::before {
		content: $socicon-chrome;
	}
}

.socicon-coderwall {
	color: $socicon-color-coderwall;
	background-color: $socicon-color-coderwall;

	&::before {
		content: $socicon-coderwall;
	}
}

.socicon-curse {
	color: $socicon-color-curse;
	background-color: $socicon-color-curse;

	&::before {
		content: $socicon-curse;
	}
}

.socicon-dailymotion {
	color: $socicon-color-dailymotion;
	background-color: $socicon-color-dailymotion;

	&::before {
		content: $socicon-dailymotion;
	}
}

.socicon-deezer {
	color: $socicon-color-deezer;
	background-color: $socicon-color-deezer;

	&::before {
		content: $socicon-deezer;
	}
}

.socicon-delicious {
	color: $socicon-color-delicious;
	background-color: $socicon-color-delicious;

	&::before {
		content: $socicon-delicious;
	}
}

.socicon-deviantart {
	color: $socicon-color-deviantart;
	background-color: $socicon-color-deviantart;

	&::before {
		content: $socicon-deviantart;
	}
}

.socicon-diablo {
	color: $socicon-color-diablo;
	background-color: $socicon-color-diablo;

	&::before {
		content: $socicon-diablo;
	}
}

.socicon-digg {
	color: $socicon-color-digg;
	background-color: $socicon-color-digg;

	&::before {
		content: $socicon-digg;
	}
}

.socicon-discord {
	color: $socicon-color-discord;
	background-color: $socicon-color-discord;

	&::before {
		content: $socicon-discord;
	}
}

.socicon-disqus {
	color: $socicon-color-disqus;
	background-color: $socicon-color-disqus;

	&::before {
		content: $socicon-disqus;
	}
}

.socicon-douban {
	color: $socicon-color-douban;
	background-color: $socicon-color-douban;

	&::before {
		content: $socicon-douban;
	}
}

.socicon-draugiem {
	color: $socicon-color-draugiem;
	background-color: $socicon-color-draugiem;

	&::before {
		content: $socicon-draugiem;
	}
}

.socicon-dribbble {
	color: $socicon-color-dribbble;
	background-color: $socicon-color-dribbble;

	&::before {
		content: $socicon-dribbble;
	}
}

.socicon-drupal {
	color: $socicon-color-drupal;
	background-color: $socicon-color-drupal;

	&::before {
		content: $socicon-drupal;
	}
}

.socicon-ebay {
	color: $socicon-color-ebay;
	background-color: $socicon-color-ebay;

	&::before {
		content: $socicon-ebay;
	}
}

.socicon-ello {
	color: $socicon-color-ello;
	background-color: $socicon-color-ello;

	&::before {
		content: $socicon-ello;
	}
}

.socicon-endomondo {
	color: $socicon-color-endomondo;
	background-color: $socicon-color-endomondo;

	&::before {
		content: $socicon-endomondo;
	}
}

.socicon-envato {
	color: $socicon-color-envato;
	background-color: $socicon-color-envato;

	&::before {
		content: $socicon-envato;
	}
}

.socicon-etsy {
	color: $socicon-color-etsy;
	background-color: $socicon-color-etsy;

	&::before {
		content: $socicon-etsy;
	}
}

.socicon-facebook {
	color: $socicon-color-facebook;
	background-color: $socicon-color-facebook;

	&::before {
		content: $socicon-facebook;
	}
}

.socicon-feedburner {
	color: $socicon-color-feedburner;
	background-color: $socicon-color-feedburner;

	&::before {
		content: $socicon-feedburner;
	}
}

.socicon-filmweb {
	color: $socicon-color-filmweb;
	background-color: $socicon-color-filmweb;

	&::before {
		content: $socicon-filmweb;
	}
}

.socicon-firefox {
	color: $socicon-color-firefox;
	background-color: $socicon-color-firefox;

	&::before {
		content: $socicon-firefox;
	}
}

.socicon-flattr {
	color: $socicon-color-flattr;
	background-color: $socicon-color-flattr;

	&::before {
		content: $socicon-flattr;
	}
}

.socicon-flickr {
	color: $socicon-color-flickr;
	background-color: $socicon-color-flickr;

	&::before {
		content: $socicon-flickr;
	}
}

.socicon-formulr {
	color: $socicon-color-formulr;
	background-color: $socicon-color-formulr;

	&::before {
		content: $socicon-formulr;
	}
}

.socicon-forrst {
	color: $socicon-color-forrst;
	background-color: $socicon-color-forrst;

	&::before {
		content: $socicon-forrst;
	}
}

.socicon-foursquare {
	color: $socicon-color-foursquare;
	background-color: $socicon-color-foursquare;

	&::before {
		content: $socicon-foursquare;
	}
}

.socicon-github {
	color: $socicon-color-github;
	background-color: $socicon-color-github;

	&::before {
		content: $socicon-github;
	}
}

.socicon-goodreads {
	color: $socicon-color-goodreads;
	background-color: $socicon-color-goodreads;

	&::before {
		content: $socicon-goodreads;
	}
}

.socicon-google {
	color: $socicon-color-google;
	background-color: $socicon-color-google;

	&::before {
		content: $socicon-google;
	}
}

.socicon-googlescholar {
	color: $socicon-color-googlescholar;
	background-color: $socicon-color-googlescholar;

	&::before {
		content: $socicon-googlescholar;
	}
}

.socicon-googlegroups {
	color: $socicon-color-googlegroups;
	background-color: $socicon-color-googlegroups;

	&::before {
		content: $socicon-googlegroups;
	}
}

.socicon-googlephotos {
	color: $socicon-color-googlephotos;
	background-color: $socicon-color-googlephotos;

	&::before {
		content: $socicon-googlephotos;
	}
}

.socicon-googleplus {
	color: $socicon-color-googleplus;
	background-color: $socicon-color-googleplus;

	&::before {
		content: $socicon-googleplus;
	}
}

.socicon-grooveshark {
	color: $socicon-color-grooveshark;
	background-color: $socicon-color-grooveshark;

	&::before {
		content: $socicon-grooveshark;
	}
}

.socicon-hackerrank {
	color: $socicon-color-hackerrank;
	background-color: $socicon-color-hackerrank;

	&::before {
		content: $socicon-hackerrank;
	}
}

.socicon-hearthstone {
	color: $socicon-color-hearthstone;
	background-color: $socicon-color-hearthstone;

	&::before {
		content: $socicon-hearthstone;
	}
}

.socicon-hellocoton {
	color: $socicon-color-hellocoton;
	background-color: $socicon-color-hellocoton;

	&::before {
		content: $socicon-hellocoton;
	}
}

.socicon-heroes {
	color: $socicon-color-heroes;
	background-color: $socicon-color-heroes;

	&::before {
		content: $socicon-heroes;
	}
}

.socicon-smashcast {
	color: $socicon-color-smashcast;
	background-color: $socicon-color-smashcast;

	&::before {
		content: $socicon-smashcast;
	}
}

.socicon-horde {
	color: $socicon-color-horde;
	background-color: $socicon-color-horde;

	&::before {
		content: $socicon-horde;
	}
}

.socicon-houzz {
	color: $socicon-color-houzz;
	background-color: $socicon-color-houzz;

	&::before {
		content: $socicon-houzz;
	}
}

.socicon-icq {
	color: $socicon-color-icq;
	background-color: $socicon-color-icq;

	&::before {
		content: $socicon-icq;
	}
}

.socicon-identica {
	color: $socicon-color-identica;
	background-color: $socicon-color-identica;

	&::before {
		content: $socicon-identica;
	}
}

.socicon-imdb {
	color: $socicon-color-imdb;
	background-color: $socicon-color-imdb;

	&::before {
		content: $socicon-imdb;
	}
}

.socicon-instagram {
	color: $socicon-color-instagram;
	background-color: $socicon-color-instagram;

	&::before {
		content: $socicon-instagram;
	}
}

.socicon-issuu {
	color: $socicon-color-issuu;
	background-color: $socicon-color-issuu;

	&::before {
		content: $socicon-issuu;
	}
}

.socicon-istock {
	color: $socicon-color-istock;
	background-color: $socicon-color-istock;

	&::before {
		content: $socicon-istock;
	}
}

.socicon-itunes {
	color: $socicon-color-itunes;
	background-color: $socicon-color-itunes;

	&::before {
		content: $socicon-itunes;
	}
}

.socicon-keybase {
	color: $socicon-color-keybase;
	background-color: $socicon-color-keybase;

	&::before {
		content: $socicon-keybase;
	}
}

.socicon-lanyrd {
	color: $socicon-color-lanyrd;
	background-color: $socicon-color-lanyrd;

	&::before {
		content: $socicon-lanyrd;
	}
}

.socicon-lastfm {
	color: $socicon-color-lastfm;
	background-color: $socicon-color-lastfm;

	&::before {
		content: $socicon-lastfm;
	}
}

.socicon-line {
	color: $socicon-color-line;
	background-color: $socicon-color-line;

	&::before {
		content: $socicon-line;
	}
}

.socicon-linkedin {
	color: $socicon-color-linkedin;
	background-color: $socicon-color-linkedin;

	&::before {
		content: $socicon-linkedin;
	}
}

.socicon-livejournal {
	color: $socicon-color-livejournal;
	background-color: $socicon-color-livejournal;

	&::before {
		content: $socicon-livejournal;
	}
}

.socicon-lyft {
	color: $socicon-color-lyft;
	background-color: $socicon-color-lyft;

	&::before {
		content: $socicon-lyft;
	}
}

.socicon-macos {
	color: $socicon-color-macos;
	background-color: $socicon-color-macos;

	&::before {
		content: $socicon-macos;
	}
}

.socicon-mail {
	color: $socicon-color-mail;
	background-color: $socicon-color-mail;

	&::before {
		content: $socicon-mail;
	}
}

.socicon-medium {
	color: $socicon-color-medium;
	background-color: $socicon-color-medium;

	&::before {
		content: $socicon-medium;
	}
}

.socicon-meetup {
	color: $socicon-color-meetup;
	background-color: $socicon-color-meetup;

	&::before {
		content: $socicon-meetup;
	}
}

.socicon-mixcloud {
	color: $socicon-color-mixcloud;
	background-color: $socicon-color-mixcloud;

	&::before {
		content: $socicon-mixcloud;
	}
}

.socicon-modelmayhem {
	color: $socicon-color-modelmayhem;
	background-color: $socicon-color-modelmayhem;

	&::before {
		content: $socicon-modelmayhem;
	}
}

.socicon-mumble {
	color: $socicon-color-mumble;
	background-color: $socicon-color-mumble;

	&::before {
		content: $socicon-mumble;
	}
}

.socicon-myspace {
	color: $socicon-color-myspace;
	background-color: $socicon-color-myspace;

	&::before {
		content: $socicon-myspace;
	}
}

.socicon-nintendo {
	color: $socicon-color-nintendo;
	background-color: $socicon-color-nintendo;

	&::before {
		content: $socicon-nintendo;
	}
}

.socicon-npm {
	color: $socicon-color-npm;
	background-color: $socicon-color-npm;

	&::before {
		content: $socicon-npm;
	}
}

.socicon-odnoklassniki {
	color: $socicon-color-odnoklassniki;
	background-color: $socicon-color-odnoklassniki;

	&::before {
		content: $socicon-odnoklassniki;
	}
}

.socicon-openid {
	color: $socicon-color-openid;
	background-color: $socicon-color-openid;

	&::before {
		content: $socicon-openid;
	}
}

.socicon-opera {
	color: $socicon-color-opera;
	background-color: $socicon-color-opera;

	&::before {
		content: $socicon-opera;
	}
}

.socicon-outlook {
	color: $socicon-color-outlook;
	background-color: $socicon-color-outlook;

	&::before {
		content: $socicon-outlook;
	}
}

.socicon-overwatch {
	color: $socicon-color-overwatch;
	background-color: $socicon-color-overwatch;

	&::before {
		content: $socicon-overwatch;
	}
}

.socicon-patreon {
	color: $socicon-color-patreon;
	background-color: $socicon-color-patreon;

	&::before {
		content: $socicon-patreon;
	}
}

.socicon-paypal {
	color: $socicon-color-paypal;
	background-color: $socicon-color-paypal;

	&::before {
		content: $socicon-paypal;
	}
}

.socicon-periscope {
	color: $socicon-color-periscope;
	background-color: $socicon-color-periscope;

	&::before {
		content: $socicon-periscope;
	}
}

.socicon-persona {
	color: $socicon-color-persona;
	background-color: $socicon-color-persona;

	&::before {
		content: $socicon-persona;
	}
}

.socicon-pinterest {
	color: $socicon-color-pinterest;
	background-color: $socicon-color-pinterest;

	&::before {
		content: $socicon-pinterest;
	}
}

.socicon-play {
	color: $socicon-color-play;
	background-color: $socicon-color-play;

	&::before {
		content: $socicon-play;
	}
}

.socicon-player {
	color: $socicon-color-player;
	background-color: $socicon-color-player;

	&::before {
		content: $socicon-player;
	}
}

.socicon-playstation {
	color: $socicon-color-playstation;
	background-color: $socicon-color-playstation;

	&::before {
		content: $socicon-playstation;
	}
}

.socicon-pocket {
	color: $socicon-color-pocket;
	background-color: $socicon-color-pocket;

	&::before {
		content: $socicon-pocket;
	}
}

.socicon-qq {
	color: $socicon-color-qq;
	background-color: $socicon-color-qq;

	&::before {
		content: $socicon-qq;
	}
}

.socicon-quora {
	color: $socicon-color-quora;
	background-color: $socicon-color-quora;

	&::before {
		content: $socicon-quora;
	}
}

.socicon-raidcall {
	color: $socicon-color-raidcall;
	background-color: $socicon-color-raidcall;

	&::before {
		content: $socicon-raidcall;
	}
}

.socicon-ravelry {
	color: $socicon-color-ravelry;
	background-color: $socicon-color-ravelry;

	&::before {
		content: $socicon-ravelry;
	}
}

.socicon-reddit {
	color: $socicon-color-reddit;
	background-color: $socicon-color-reddit;

	&::before {
		content: $socicon-reddit;
	}
}

.socicon-renren {
	color: $socicon-color-renren;
	background-color: $socicon-color-renren;

	&::before {
		content: $socicon-renren;
	}
}

.socicon-researchgate {
	color: $socicon-color-researchgate;
	background-color: $socicon-color-researchgate;

	&::before {
		content: $socicon-researchgate;
	}
}

.socicon-residentadvisor {
	color: $socicon-color-residentadvisor;
	background-color: $socicon-color-residentadvisor;

	&::before {
		content: $socicon-residentadvisor;
	}
}

.socicon-reverbnation {
	color: $socicon-color-reverbnation;
	background-color: $socicon-color-reverbnation;

	&::before {
		content: $socicon-reverbnation;
	}
}

.socicon-rss {
	color: $socicon-color-rss;
	background-color: $socicon-color-rss;

	&::before {
		content: $socicon-rss;
	}
}

.socicon-sharethis {
	color: $socicon-color-sharethis;
	background-color: $socicon-color-sharethis;

	&::before {
		content: $socicon-sharethis;
	}
}

.socicon-skype {
	color: $socicon-color-skype;
	background-color: $socicon-color-skype;

	&::before {
		content: $socicon-skype;
	}
}

.socicon-slideshare {
	color: $socicon-color-slideshare;
	background-color: $socicon-color-slideshare;

	&::before {
		content: $socicon-slideshare;
	}
}

.socicon-smugmug {
	color: $socicon-color-smugmug;
	background-color: $socicon-color-smugmug;

	&::before {
		content: $socicon-smugmug;
	}
}

.socicon-snapchat {
	color: $socicon-color-snapchat;
	background-color: $socicon-color-snapchat;

	&::before {
		content: $socicon-snapchat;
	}
}

.socicon-songkick {
	color: $socicon-color-songkick;
	background-color: $socicon-color-songkick;

	&::before {
		content: $socicon-songkick;
	}
}

.socicon-soundcloud {
	color: $socicon-color-soundcloud;
	background-color: $socicon-color-soundcloud;

	&::before {
		content: $socicon-soundcloud;
	}
}

.socicon-spotify {
	color: $socicon-color-spotify;
	background-color: $socicon-color-spotify;

	&::before {
		content: $socicon-spotify;
	}
}

.socicon-stackexchange {
	color: $socicon-color-stackexchange;
	background-color: $socicon-color-stackexchange;

	&::before {
		content: $socicon-stackexchange;
	}
}

.socicon-stackoverflow {
	color: $socicon-color-stackoverflow;
	background-color: $socicon-color-stackoverflow;

	&::before {
		content: $socicon-stackoverflow;
	}
}

.socicon-starcraft {
	color: $socicon-color-starcraft;
	background-color: $socicon-color-starcraft;

	&::before {
		content: $socicon-starcraft;
	}
}

.socicon-stayfriends {
	color: $socicon-color-stayfriends;
	background-color: $socicon-color-stayfriends;

	&::before {
		content: $socicon-stayfriends;
	}
}

.socicon-steam {
	color: $socicon-color-steam;
	background-color: $socicon-color-steam;

	&::before {
		content: $socicon-steam;
	}
}

.socicon-storehouse {
	color: $socicon-color-storehouse;
	background-color: $socicon-color-storehouse;

	&::before {
		content: $socicon-storehouse;
	}
}

.socicon-strava {
	color: $socicon-color-strava;
	background-color: $socicon-color-strava;

	&::before {
		content: $socicon-strava;
	}
}

.socicon-streamjar {
	color: $socicon-color-streamjar;
	background-color: $socicon-color-streamjar;

	&::before {
		content: $socicon-streamjar;
	}
}

.socicon-stumbleupon {
	color: $socicon-color-stumbleupon;
	background-color: $socicon-color-stumbleupon;

	&::before {
		content: $socicon-stumbleupon;
	}
}

.socicon-swarm {
	color: $socicon-color-swarm;
	background-color: $socicon-color-swarm;

	&::before {
		content: $socicon-swarm;
	}
}

.socicon-teamspeak {
	color: $socicon-color-teamspeak;
	background-color: $socicon-color-teamspeak;

	&::before {
		content: $socicon-teamspeak;
	}
}

.socicon-teamviewer {
	color: $socicon-color-teamviewer;
	background-color: $socicon-color-teamviewer;

	&::before {
		content: $socicon-teamviewer;
	}
}

.socicon-technorati {
	color: $socicon-color-technorati;
	background-color: $socicon-color-technorati;

	&::before {
		content: $socicon-technorati;
	}
}

.socicon-telegram {
	color: $socicon-color-telegram;
	background-color: $socicon-color-telegram;

	&::before {
		content: $socicon-telegram;
	}
}

.socicon-tripadvisor {
	color: $socicon-color-tripadvisor;
	background-color: $socicon-color-tripadvisor;

	&::before {
		content: $socicon-tripadvisor;
	}
}

.socicon-tripit {
	color: $socicon-color-tripit;
	background-color: $socicon-color-tripit;

	&::before {
		content: $socicon-tripit;
	}
}

.socicon-triplej {
	color: $socicon-color-triplej;
	background-color: $socicon-color-triplej;

	&::before {
		content: $socicon-triplej;
	}
}

.socicon-tumblr {
	color: $socicon-color-tumblr;
	background-color: $socicon-color-tumblr;

	&::before {
		content: $socicon-tumblr;
	}
}

.socicon-twitch {
	color: $socicon-color-twitch;
	background-color: $socicon-color-twitch;

	&::before {
		content: $socicon-twitch;
	}
}

.socicon-twitter {
	color: $socicon-color-twitter;
	background-color: $socicon-color-twitter;

	&::before {
		content: $socicon-twitter;
	}
}

.socicon-uber {
	color: $socicon-color-uber;
	background-color: $socicon-color-uber;

	&::before {
		content: $socicon-uber;
	}
}

.socicon-ventrilo {
	color: $socicon-color-ventrilo;
	background-color: $socicon-color-ventrilo;

	&::before {
		content: $socicon-ventrilo;
	}
}

.socicon-viadeo {
	color: $socicon-color-viadeo;
	background-color: $socicon-color-viadeo;

	&::before {
		content: $socicon-viadeo;
	}
}

.socicon-viber {
	color: $socicon-color-viber;
	background-color: $socicon-color-viber;

	&::before {
		content: $socicon-viber;
	}
}

.socicon-viewbug {
	color: $socicon-color-viewbug;
	background-color: $socicon-color-viewbug;

	&::before {
		content: $socicon-viewbug;
	}
}

.socicon-vimeo {
	color: $socicon-color-vimeo;
	background-color: $socicon-color-vimeo;

	&::before {
		content: $socicon-vimeo;
	}
}

.socicon-vine {
	color: $socicon-color-vine;
	background-color: $socicon-color-vine;

	&::before {
		content: $socicon-vine;
	}
}

.socicon-vkontakte {
	color: $socicon-color-vkontakte;
	background-color: $socicon-color-vkontakte;

	&::before {
		content: $socicon-vkontakte;
	}
}

.socicon-warcraft {
	color: $socicon-color-warcraft;
	background-color: $socicon-color-warcraft;

	&::before {
		content: $socicon-warcraft;
	}
}

.socicon-wechat {
	color: $socicon-color-wechat;
	background-color: $socicon-color-wechat;

	&::before {
		content: $socicon-wechat;
	}
}

.socicon-weibo {
	color: $socicon-color-weibo;
	background-color: $socicon-color-weibo;

	&::before {
		content: $socicon-weibo;
	}
}

.socicon-whatsapp {
	color: $socicon-color-whatsapp;
	background-color: $socicon-color-whatsapp;

	&::before {
		content: $socicon-whatsapp;
	}
}

.socicon-wikipedia {
	color: $socicon-color-wikipedia;
	background-color: $socicon-color-wikipedia;

	&::before {
		content: $socicon-wikipedia;
	}
}

.socicon-windows {
	color: $socicon-color-windows;
	background-color: $socicon-color-windows;

	&::before {
		content: $socicon-windows;
	}
}

.socicon-wordpress {
	color: $socicon-color-wordpress;
	background-color: $socicon-color-wordpress;

	&::before {
		content: $socicon-wordpress;
	}
}

.socicon-wykop {
	color: $socicon-color-wykop;
	background-color: $socicon-color-wykop;

	&::before {
		content: $socicon-wykop;
	}
}

.socicon-xbox {
	color: $socicon-color-xbox;
	background-color: $socicon-color-xbox;

	&::before {
		content: $socicon-xbox;
	}
}

.socicon-xing {
	color: $socicon-color-xing;
	background-color: $socicon-color-xing;

	&::before {
		content: $socicon-xing;
	}
}

.socicon-yahoo {
	color: $socicon-color-yahoo;
	background-color: $socicon-color-yahoo;

	&::before {
		content: $socicon-yahoo;
	}
}

.socicon-yammer {
	color: $socicon-color-yammer;
	background-color: $socicon-color-yammer;

	&::before {
		content: $socicon-yammer;
	}
}

.socicon-yandex {
	color: $socicon-color-yandex;
	background-color: $socicon-color-yandex;

	&::before {
		content: $socicon-yandex;
	}
}

.socicon-yelp {
	color: $socicon-color-yelp;
	background-color: $socicon-color-yelp;

	&::before {
		content: $socicon-yelp;
	}
}

.socicon-younow {
	color: $socicon-color-younow;
	background-color: $socicon-color-younow;

	&::before {
		content: $socicon-younow;
	}
}

.socicon-youtube {
	color: $socicon-color-youtube;
	background-color: $socicon-color-youtube;

	&::before {
		content: $socicon-youtube;
	}
}

.socicon-zapier {
	color: $socicon-color-zapier;
	background-color: $socicon-color-zapier;

	&::before {
		content: $socicon-zapier;
	}
}

.socicon-zerply {
	color: $socicon-color-zerply;
	background-color: $socicon-color-zerply;

	&::before {
		content: $socicon-zerply;
	}
}

.socicon-zomato {
	color: $socicon-color-zomato;
	background-color: $socicon-color-zomato;

	&::before {
		content: $socicon-zomato;
	}
}

.socicon-zynga {
	color: $socicon-color-zynga;
	background-color: $socicon-color-zynga;

	&::before {
		content: $socicon-zynga;
	}
}
