/**
 * menu.scss
 * Styles applied to dashboard menu items added via Social Icons.
 * Adds icons to top level menu items, tinyMCE shortcode button, etc.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";

/**
 * Styling begins
 */
#available-widgets [class*="social_icons"] .widget-title:before {
	content: "\f325";
}

span.mce_social_icons_shortcodes_button {
	background-image: none !important;
	@include ir();

	&:before {
		@include icon_dashicons( "\f325" );
		font-size: .9em;
		line-height: 1.2;
	}
}

i.mce-i-social-icons-shortcodes {
	position: relative;

	&:before {
		@include icon_dashicons( "\f325" );
		font-size: 20px;
	}
}
